
body{
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
}

.card-header h4{
    
    text-align: center;
}
.container-entry{
    width: 60%;
    height: 100%;
    border: 10px solid rgb(63, 132, 178);
    border-radius: 1rem;
    margin: 5% auto;
    padding: 2rem;
}

.header-text{
    align-items: center;
}

.form-group{
margin: 1rem;

}
.container {
    padding: 3%;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}

.container-table{
    width: 100%;
    margin-top: 4%;
}